@use '../abstracts' as *;

html {
  scroll-behavior: smooth;
}

menu {
  list-style-type: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reset__anchor {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
