@use '../abstracts' as *;


.explore {

}

.tours {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing3;

    &__title {
        margin: $spacing6 0;
        text-align: center;
      }

}