@use '../abstracts' as *;

.form {
  display: flex;
  flex-direction: column;

  gap: $spacing3;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    font-size: $lg;
    margin-top: $spacing3;

    &:first-child {
      margin-top: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }

  &__label {
    font-weight: bold;
    margin-top: $spacing2;
  }

  &__input,
  &__select,
  &__textarea {
    padding: $spacing1;
    font-size: $md;
    background-color: $lighter-dark;
    border: 2px solid $white;
    color: $white;
    border-radius: $radius1;

    &:focus {
      outline: 2px solid $pink;
    }
  }

  &__radio-group {
    display: flex;
    gap: 10px;
  }

  &__radio-label {
    display: flex;
    align-items: center;
  }

  &__radio {
    margin-right: 5px;
    &:focus {
      outline: 2px solid $pink;
    }
  }

  &__button {
    @include button;
    padding: $spacing1 $spacing2;
    font-size: $md;
    width: 200px;
    &:focus {
      outline: 2px solid $pink;
    }
  }

  &__button--submit {
    @extend .form__button;
  }

  &__button--reset {
    @extend .form__button;
    background-color: $white;
    border-color: $dark;
    color: $dark;

    &:hover {
      background-color: darken($white, 5%);
    }
  }

  &__date__container {
    display: flex;
    align-items: center;
    gap: $spacing1;
  }

  &__required {
    color: $pink;
    position: relative;
  }

  &__error {
    border: 2px solid $error;
  }
}

.buttons__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing1;

  @include respond-to('very-small') {
    flex-direction: row;
    justify-content: center;
  }
}
