@use '../abstracts' as *;

.form {
  display: flex;
  flex-direction: column;

  gap: $spacing3;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    font-size: $lg;
    margin-top: $spacing3;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__label {
    font-weight: bold;
    margin-top: $spacing2;
  }

  &__input,
  &__select,
  &__textarea {
    padding: $spacing1;
    font-size: $md;
    border: 1px solid #ccc;
    border-radius: $radius1;
  }

  &__radio-group {
    display: flex;
    gap: 10px;
  }

  &__radio-label {
    display: flex;
    align-items: center;
  }

  &__radio {
    margin-right: 5px;
  }

  &__button {
    @include button;
    padding: $spacing1 $spacing2;
    font-size: $md;
    width: fit-content;
    margin: auto;
  }
}
